body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #F9F3EF;;
}

.btn-signup {
    background-color: #1B3C53; 
   
}

.btn-signup:hover {
    background-color: #142A3E;
}

.btn-donate{
    background-color: #eb9c62;
}

.btn-donate:hover {
    background-color: #d68a4f;
}

.head_font {
    font-size: 4.5rem;
}

.btn_border {
    border: 5px solid white;
    box-sizing: border-box;
    color: white
}

.btn_border:hover {
    border: 5px solid rgba(27, 60, 83, 0); /* Transparent border using rgba */
    background-color: white;
    color: #142A3E;
}